body{ background: #f8f8f8 !important; background-color:#f8f8f8 !important;} 
.mce-btn button{background:#f8f8f8 !important; border-color:#f8f8f8 !important;}
.mce-btn{background:#f8f8f8 !important; border-color:#f8f8f8 !important;}
.mce-btn-group .mce-btn{background:#f8f8f8 !important; border-color:#f8f8f8 !important;}
